*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');
body{
    position:relative;
    padding: 0 150px;
}
/* navbar*/
.navbar{
    display: flex;
    align-items: center;
    padding: 18px 0;
    font-family: 'Kumbh Sans', sans-serif;
    border-bottom: 2px solid hsl(223, 64%, 98%);
}
.left{
    display: flex;
    align-items: center;
    width: 80%;
}
.menu{
    margin-right: 1rem;
    display: none;
}
.link{
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
    color: hsl(219, 9%, 45%);
}
.right{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 20%;
}
.avatar{
    width: 50px;
    padding-left: 1rem;
}


/* container*/
.container{
    width: 100%;
    display: flex;
    margin-top: 4.5rem;
    justify-content: space-between;
    align-items: center;
}
    /*images display*/
.product{
    width: 50%;
    margin-left: 2rem;
    margin-right: 4rem;
}
.big-img{
    position: relative;
    width: 100%;
}
.previous{
    position: absolute;
    top: 50%;
    left: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: none;
}
.next{
    position: absolute;
    top: 50%;
    right: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: none;
}
.list-product{
    width: 20%;
    display: flex;
}
.img-p{
    width: 100%;
    border-radius: 1rem;
}
.img-s{
    width: 100%;
    border-radius: .5rem;
    margin: 1.5rem 2rem 0 0;
}
/*description display*/
.description{
    width: 50%;
    font-family: 'Kumbh Sans', sans-serif;
}
.text{
    font-size: 1rem;
    line-height: 1.6rem;
    color: hsl(219, 9%, 60%);
}
.company{
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    font-weight: bold;
}
h1{
    font-size: 2.5rem;
    margin: 1.6rem 0;
    font-weight: bold;
}
.price{
    display: flex;
    align-items: center;
    margin: 1.5rem 0 1rem 0;

}
.reduction{
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    padding: 4px 12px;
    border-radius: 5px;
}
h2{
    margin-right: 5px;
    font-weight: bold;
}
.old-price{
    text-decoration: line-through;
    color: hsl(219, 9%, 74%);
    font-size: 1.2rem;
}
.shop{
    display: flex;
    align-items: center;
    margin-top: 3rem;
}
.quantity{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.quantity p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 60px;
    background-color: hsl(223, 64%, 98%);
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 60px;
    background-color: hsl(223, 64%, 98%);
    cursor: pointer;
}
.minus{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.plus{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
    width: 250px;
    height: 60px;
    border-radius: 10px;
}
button img{
    margin-right: 10px;
}

.attribution{
    position: absolute;
    width: 100%;
    margin-top: 3rem;
    background-color: hsl(0, 0%, 75%);
}

/* MEDIA QUERIES MOBILE*/
@media screen and (max-width: 760px){
    body{
        padding: 0;
    }
    .links{
        display: none;
    }
    .navbar{
        border: none;
    }
    .menu{
        display: block;
    }
    .left{
        width:20%;
        margin-left: 1.5rem;
    }
    .right{
        width: 80%;
        margin-right: 1.5rem;
    }
    .container{
        width: 100%;
        display: block;
        margin: 0;
    }
    .description{
        margin-top: 2rem;
        width:100%;
        padding: 0 1.8rem;
    }
    .text{
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
    .prices{
        display: flex;
        align-items: center;
    }
    .price{
        width: 50%;
    }
    .old-price{
        width: 50%;
        display: flex;
        justify-content: end;
    }
    .product{
        width: 100%;
        margin-left: 0;
    }
    .big-img{
        width: 100%;
    }
    .previous{
        display: flex;
    }
    .next{
        display: flex;
    }
    .img-p{
        width: 100%;
        border-radius: 0;
    }
    .list-product{
        display: none;
    }
    .shop{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .cart{
        width: 100%;
        margin-top: 1.5rem;
    }
    .quantity{
        width: 100%;
        margin: 0;
    }
    span{
        width: 25%;
    }
    .quantity p{
        width: 50%;
    }
    button{
        width: 100%;
    }
}